<div class="body">
    <div class="container">
        <div class="row">
          <div class="col-sm-8">
            <form action="/upload">
              <label>Pick a File</label>
              <input type="file" multiple="multiple" name="files" id="files" (change)="fileChangeEvent($event)"/>
              <button type="submit" class="btn btn-success" (click)="upload()"> Upload </button> </form>
          </div>
        </div>
      </div> 
      <particles [style]="style" [width]="width" [height]="height" [params]="params"></particles>
</div>
